.landing-page {
  height: 100vh;
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 0.9; 
    } 
} 

.header-background-img {
  margin-top: 12rem;
  /* width: 100%; */
  z-index: 1;
  animation: fadeInAnimation ease 3s ;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
  border-radius: 15px;
}

.header-text {
  color: #aca285;
  width: 50%;
  padding: 0rem 1rem;
  font-family: 'Abhaya Libre', serif;
  margin-bottom: 1rem;
  font-size: 5.5rem;
  font-weight: 400;
  position: absolute;
  top: 17%;
  left: 52%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}


@media (max-width: 1800px) {
  .header-background-img {
    width: 65%;
  }
}

@media (max-width: 1120px) {
  .header-text {
    padding-top: 0rem;
    font-size: 6.25rem;
  }

  .landing-page {
    height: 70vh;
  }
}

@media (max-width: 1024px) {
  .header-text {
    padding-top: 0rem;
    width: 80%;
    font-size: 5.5rem;
    top: 12%;
  }

  .header-background-img {
    margin-top: 16rem;
    width: 85%;
  }
}


@media (max-width: 992px) {
  .header-text {
    width: 80%;
    font-size: 5.5rem;
  }

  .landing-page {
    height: 80vh;
  }

  .header-background-img {
    width: 90%;
  } 
}

@media (max-width: 768px) {
  .header-text {
    font-size: 5rem;
    top: 15%;
  }
}

@media (max-width: 540px) {
  .header-text {
    font-size: 4rem;
  }

   .header-background-img {
    width: 100%;
  } 
}

@media (max-width: 420px) {  
  .landing-page {
    height: 70vh;
  }

 .header-background-img {
    width: 100%;
    border-radius: 0;
    margin-top: 10rem;
  } 
}

@media (max-width: 380px) {
  .header-text {
    width: 80%;
    padding-top: 0!important;
    margin-top: 0;
    font-size: 3rem;
    top: 16%;
  }
}


@media (max-width: 320px) {
  .header-text {
    top: 18.5%;
  }
}



