.header {
  position: relative;
  text-align: center;
  margin-top: -2rem;
}

.header-background-img {
  width: 45%;
  opacity: .8;
  z-index: 1;
}

.header-text {
  color: #aca285;
  width: 50%;
  padding: 0rem 1rem;
  font-family: 'Abhaya Libre', serif;
  margin-bottom: 1rem;
  font-size: 7rem;
  font-weight: 400;
  position: absolute;
  top: 20%;
  left: 52%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}


@media (max-width: 1800px) {
  .header-background-img {
    width: 55%;
  }
}

@media (max-width: 1120px) {
  .header-text {
    padding-top: 0rem;
    font-size: 6.25rem;
  }
}

@media (max-width: 1024px) {
  .header-text {
    padding-top: 0rem;
    width: 80%;
    font-size: 6.5rem;
  }

  .header-background-img {
    width: 85%;
  }
}


@media (max-width: 992px) {
  .header {
    margin-top: -2rem;
  }

  .header-text {
    width: 80%;
    font-size: 5.5rem;
  }

  .header-background-img {
    width: 90%;
  } 
}

@media (max-width: 768px) {
  .header-text {
    font-size: 5rem;
  }

}

@media (max-width: 540px) {
  .header-text {
    font-size: 4rem;
  }

   .header-background-img {
    width: 100%;
  } 
}

@media (max-width: 420px) {
  .header {
    margin-top: 2rem;
  }
  
 .header-background-img {
    width: 100%;
  } 
 
}

@media (max-width: 380px) {
  .header-text {
    width: 80%;
    padding-top: 0!important;
    margin-top: 0;
    font-size: 3rem;
  }

}



