
@media (min-width: 993px) {
  
}

@media (max-width: 1024px) {


}


@media (max-width: 1024px) {
  .footer-logo {
    font-size: 2.5rem!important;
    padding: 1rem;
  }

  footer {
    height: 10vh;
  }
}

@media (max-width: 420px) {

  .h2 {
    font-size: 2rem!important;
    line-height: 50px;
    padding: 1.5rem 0rem;
    margin: .5rem;
    padding-bottom: 0;
  }

  .h3 {
    font-size: 1.5rem!important;
    padding: 1rem;
  }

  footer {
    margin-top: 10rem;
    height: auto;
  }

  .footer-logo {
    font-size: 2rem;
  }

  .p {
    font-size: 1rem;
  }
} 

@media (max-width: 320px) {

  .h2 {
    font-size: 1.5rem!important;
    line-height: 50px;
    padding: 1.5rem 0rem;
    margin: .5rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .h3 {
    font-size: 1.25rem!important;
  }

}

