.about { 
  padding-top: 10rem;
  margin-bottom: 6rem;
}

.about-container { 
  background-color: black;
  padding: 6rem;
  text-align: left;
  margin: 0 auto;
}

.about-content {
  color: white;
  width: 60%;
  margin: 0 auto;
  font-size: 1.25rem;
}

.s-media-container-about {
  text-align: center!important;
}


@media (max-width: 1024px) {
 .about {
    margin-top: 0!important;
    padding-top: 0!important;
  }

}

@media (max-width: 420px) {
 .about {
    margin-top: -2rem!important;
    padding: 0rem!important;
    width: 100%;
  }

  .about-container {
    padding: 3rem 0!important;
  }

  .about-content {
    font-size: 1.2rem;
    width: 90%;
    padding: 3rem  1rem 0 1rem;
    margin-top: -2rem;
  }

  .s-media-container-about {
    padding-top: 1.75rem;
  }

}
