.contact {
  margin-bottom: 0!important;
  padding-bottom: 0!important;
  position: relative;
  width: 100%;
}

.contact-h2 {
  padding-bottom: 1rem!important;
  /* margin: 0!important; */
}

.contact-img {
  width: 100%;
  z-index: 1;
}

.p {
  margin-top: -.5rem;
  padding-bottom: 1rem;
}

.form-area {
  margin: 0 auto;
  width: 30%;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 245, 245);
  z-index: 1000;
}

input, #message {
  width: 100%;
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
  border: 2px solid #aca285;
  border-radius: .5rem;
  line-height: 28px;
  padding: 5px;
  margin-bottom: .5rem;
  box-sizing: border-box;
}

#submit-btn {
  background-color: #aca285;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: .5rem; 
  padding: 8px;
  font-family: 'Nunito', sans-serif;
} 

#submit-btn:hover {
  cursor: pointer;
}


@media (max-width: 1024px) {
  .contact {
    padding-top: 14rem;
    width: 100%;
  }

  .contact-h2 {
    padding: 0!important;
    margin: 0!important;
    padding-bottom: 1rem!important;
  }

 .form-area {
    width: 40%;
  }
}


@media (max-width: 992px) {
.form-area {
    width: 60%;
  }
}

@media (max-width: 420px) {

  .contact {
    min-height: 40vh;
    margin: 0!important;
    position: relative;
  }

  .contact-h2 {
    padding-top: 3rem!important;
  }

  .form-area {
    width: 80%;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: none;

    margin: 0 2.5%;
  }

  .contact-img {
    display: none;
  }
}


