.contact {
  margin-bottom: 5rem!important;
  padding-bottom: 4rem!important;
  width: 100%;
}

.contact-h2 {
  padding-bottom: 1rem!important;
}

.contact-img {
  width: 80%;
  margin-bottom: 5rem;
  border-radius: 10px;
}

.p {
  margin-top: -.5rem;
  padding-bottom: 1rem;
}

.form-area {
  margin: 0 auto;
  width: 30%;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}

input, #message {
  width: 100%;
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
  border: 2px solid #aca285;
  border-radius: .5rem;
  line-height: 28px;
  padding: 5px;
  margin-bottom: .5rem;
  box-sizing: border-box;
}

#submit-btn {
  background-color: #aca285;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: .5rem; 
  padding: 8px;
  font-family: 'Nunito', sans-serif;
} 

#submit-btn:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .contact {
    padding-top: 5rem;
    width: 100%;
  }

  .contact-h2 {
    padding: 0!important;
    margin: 0!important;
    padding-bottom: 1rem!important;
  }

 .form-area {
    width: 40%;
  }
}


@media (max-width: 992px) {
  .form-area {
    width: 55%;
  }
}

@media (max-width: 420px) {
  .contact {
    min-height: 65vh;
    margin: 0!important;
    margin-bottom: 4rem!important;
  }

  .contact-h2 {
    padding-bottom: 0!important;
    border-bottom: 1px solid #aca285;
  }

  .form-area {
    width: 75%;
  }

  .contact-img {
    display: none;
  }

  .p-contact {
    margin-top: 1rem;
  }
}

@media (max-width: 320px) {
  .contact {
    min-height: 70vh;
    padding-top: 3rem;
  }

  input, #message {
  font-size: 1rem;
  }
}


