@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

.App {
  text-align: center;
  background-color: white;
}

p {
  font-size: 1.5rem;
  color: #212122;
}

h3 {
  font-size: 1.5rem;

  color: #aca285;
  font-weight: 400;
}

/* NAVIGATION BAR */
.nav-container {
  text-align: left;
}

.nav-links {
  margin: 0!important;
}

.mobile-menu {
  display: none;
}

/* LANDING PAGE */
.header {
  min-height: 32vh;
  position: relative;
  text-align: center;
  padding: 2rem;
  /* background-color: #aca2859a; */
}


.header-background-img {
  width: 48%;
  margin-top: -12rem;
  opacity: .8;
  z-index: 1;
 
  /* margin-left: -28rem; */
  /* border-radius: 8rem; */
}


.header-font {
  /* color: rgb(82, 81, 81); */
  color: #aca285;
  width: 50%;
  /* background-color: rgba(22, 20, 20, 0.856); */
  background-color: rgba(255, 255, 255, 0.886);
  padding: 0rem 1rem;
  font-family: 'Abhaya Libre', serif;
  margin-bottom: 1rem;
  font-size: 6rem;
  font-weight: 400;

  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
}

.artist-photo {
  padding: 2.5rem;
}


.section-heading {

  color: #aca285;
  font-size: 4rem;
  margin: 1.5rem;
  line-height: 100px; 
  font-weight: 400;
}

.about {
  margin-top: 5rem;
  background-color: rgb(82, 81, 81);
  height: 50vh;
  color: white;
  padding: 5rem;
  font-size: 1.2rem;

}

.sec-title-container, .sec-title-container-sml {
  position: relative;
  height: 120px;
  padding-bottom: 6px;
}

.sec-title-container::after {
  content: '';
  height: 6px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ed8034+0,ed8034+33,feb123+33,feb123+66,2184cd+66,2184cd+100 */
  background: rgb(237,128,52); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(237,128,52,1) 0%, rgba(237,128,52,1) 33%, rgba(254,177,35,1) 33%, rgba(254,177,35,1) 66%, rgba(33,132,205,1) 66%, rgba(33,132,205,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(237,128,52,1) 0%,rgba(237,128,52,1) 33%,rgba(254,177,35,1) 33%,rgba(254,177,35,1) 66%,rgba(33,132,205,1) 66%,rgba(33,132,205,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f5f3f3 0%, #f5f3f3 35%,white 25%,white 66%,#f5f3f3 66%, #f5f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}



.music-container, .upcoming-dates, .subscribe-container {
  width: 90%; 
  margin: 0 auto;
  padding: 2.5em;
  margin-top: 4rem;
  margin-bottom: 6em;
}

.s-media-container {
  padding-top: 1%;
  margin: 0 auto;
  margin-right: -1rem;
  padding-right: 2.5rem;
}

.nav-link {
  display: inline-block;
  color: #aca285;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  margin: 0 1.5rem;
  padding: 0 .5rem;
}

.nav-link:hover {
  cursor: pointer;
  color: #aca285;
  
}

.nav-link:not(:first-child):hover {
border-bottom: 1px solid #aca285;;
}


.sm-icon {
  display: inline-block;
  font-size: 2.8rem;
  padding: 0 .5rem;
  color: white;
}

.sm-icon:hover {
  color: #aca285;
}

.landing-pg-photo {
  margin-top: 5rem;
  width: 200%;
  opacity: 0.8;
}

/* Music Section */

.video-container {
  margin-top: 2.5rem;
}

/* Upcoming Events Section */
.upcoming-dates {
  margin-top: 12rem;
  width: 60%;  
  background-color: #f5f3f3;
  border-radius: 2rem;
  padding: 1rem;
}

.event-list {
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  /* padding-top: 0rem; */
}

.event {
  width: 80%;
  /* line-height: 46px; */
  font-size: 1.25rem;
  padding: .5rem;
  margin: 1rem auto;
  color: #212122;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  border-bottom: 2px solid white;
}

.event:hover {
  transform: scale(1.01);
  opacity: .8;
  border-radius: 1rem;
}

/* Subscribe Section */

.subscribe-container {
  margin-top: 6rem;
  padding-top: 5rem;
  margin-bottom: 18rem;
  column-count: 2;
  width: 90%;
}

.column-2 {
  margin-left: -8rem;
  position: relative;
  z-index: 1000;
}

.column-1 {
  position: relative;
   z-index: 1;
}

.img {
  width: 100%;
  opacity: .35;
}


.form-area {
  margin: 0 auto;
  width: 60%;
}

input, #message {
  width: 100%;
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
  color: #212122;
  border: 2px solid #212122;
  border-radius: .5rem;
  line-height: 28px;
  padding: 5px;
  margin-bottom: .5rem;
  box-sizing: border-box;
}

#submit-btn {
  background-color: #545455;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: .5rem; 
  padding: 8px;
  font-family: 'Nunito', sans-serif;
} 

#submit-btn:hover {
  cursor: pointer;
}

 /* Footer  */

footer {
  height: 20vh;
  background-color: #9e957a;
}

.sml-h2 {
  font-family: 'Abhaya Libre', serif;;
  color: white;
  text-align: left;
  padding: 1rem 2.5rem;
  font-size: 3.5rem;
  font-weight: 400;
}

.nav-head {
  padding: 0!important;
  margin: 0!important;
  color: #9e957a;
  font-size: 2rem;
  font-weight: 400;
}

