.upcoming-gigs {
  width: 60%;  
  border-radius: 2rem;
  padding: 4rem 1.5rem;
  margin: 6rem auto;
  padding-bottom: 12rem;
}

.event-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
}

.event {
  width: 80%;
  font-size: 1.25rem;
  padding: .25rem;
  margin: .25rem auto;
  color: #212122;
}

.event:hover {
  transform: scale(1.02);
}


@media (max-width: 1024px) {
  .upcoming-gigs {
    margin-top: -3rem;
    margin-bottom: 0rem;
    padding-bottom: 4.5rem;
  }
}


@media (max-width: 992px) {
  .upcoming-gigs {
    width: 85%;
  }
}

@media (max-width: 420px) {
  .upcoming-h2 {
    border-bottom: 1px solid #aca285;
  }

 .upcoming-gigs {
    margin-top: 0rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }

  .event {
    width: 100%;
    font-size: 1.25rem;
    text-align: left;
  }

}