.upcoming-gigs {
  width: 60%;  
  border-radius: 2rem;
  padding: 2.5rem 1.5rem;
  margin: 6rem auto;
}

.event-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
}

.event {
  width: 80%;
  font-size: 1.25rem;
  padding: .25rem;
  margin: .25rem auto;
  color: #212122;
}

.event:hover {
  transform: scale(1.02);
}

.avatar-container {
  padding: 2.5rem;
  width: 30%;
  margin: 0 auto;
}

#avatar-img {
   width: 100%;
   height: 100%
}


@media (min-width: 993px) {
}

@media (max-width: 1024px) {
  .upcoming-gigs {
    margin-top: -3rem;
    margin-bottom: 4rem;
}
  .avatar-container {
    width: 48%;
  }
}


@media (max-width: 992px) {
  .upcoming-gigs {
    width: 85%;
  }

  .avatar-container {
    width: 60%;
  }
}

@media (max-width: 420px) {
  .upcoming-h2 {
    border-bottom: 1px solid #aca285;
  }

 .upcoming-gigs {
    margin-top: 1.5rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
 }

  .event {
    width: 100%;
    font-size: 1.25rem;
    text-align: left;
  }

}