.music {
  padding: 5rem 1rem;
}

.video-container {
  margin-top: 2.5rem;
  width: 100%;
}

.video {
  display: inline-flex;
  padding: 1rem;
}

 #responsive-iframe {
    width: 600px;
    height: 355px
  }

@media (max-width: 1024px) {
  .music {
    margin: 2rem!important;
  }

   #responsive-iframe {
    width: 500px;
    height: 255px
  }
}


@media (max-width: 992px) {
  
}

@media (max-width: 420px) {
  .music {
    width: 80%;
    margin-bottom: 0rem!important;
    padding: 2rem 0!important;
  }

  #responsive-iframe {
    width: 100%;
    height: 100%;
  }


}
